@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.App {
  width: 375px;
  height: 100%;
  background-color: #edf1d6;
  margin: 0 auto;
}
.container {
  width: 325px;
  background: #edf1d6;
  margin: 0 auto;
}
.textBox {
  width: 325px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #609966;
  margin-top: 30px;
}
.text {
  width: 270px;
  height: 57px;
  margin-top: 71px;
  margin-left: 28px;
  flex-shrink: 0;
  color: #152807;
  text-align: center;
  font-family: Poor Story;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.voiceBox {
  width: 325px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #9dc08b;
  margin-top: 30px;
}
.voice {
  width: 270px;
  height: 57px;
  margin-top: 71px;
  margin-left: 28px;
  flex-shrink: 0;
  color: #152807;
  text-align: center;
  font-family: Poor Story;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.mainLogo {
  margin-top: 30px;
}
