.App {
  width: 375px;
  height: 812px;
  background: #edf1d6;
  margin: 0 auto;
}
.container {
  width: 325px;
  background: #edf1d6;
  margin: 0 auto;
}
img#backIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
p#recentTitle {
  height: 57px;
  flex-shrink: 0;
  color: #152807;
  text-align: center;
  font-family: Poor Story;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
}
.Q {
  display: inline-block;
  color: #000;
  text-align: center;
  font-family: Poor Story;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-left: 10px;
  margin-top: 5px;
}
