.App {
  width: 375px;
  height: 812px;
  background: #edf1d6;
  margin: 0 auto;
}
.container {
  width: 325px;
  background: #edf1d6;
  margin: 0 auto;
}
.img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
Link {
  text-decoration: none;
}
