.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #edf1d6;
}

.chat-box {
  width: 375px;
  height: 100vh;
  background: #edf1d6;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.messages-list {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.user-message,
.ai-message {
  margin-bottom: 20px;
  max-width: 100%;
}

.user-message {
  align-self: flex-end;
  background: #9dc08b;
  color: #fff;
  padding: 10px 15px;
  border-radius: 16px 16px 0 16px;
}

.ai-message {
  align-self: flex-start;
  background: #fefae0;
  color: #333;
  padding: 10px 15px;
  border-radius: 16px 16px 16px 0;
}

.message-form {
  border-top: 1px solid #f0f0f0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  border-radius: 16px;
  border: none;
  background-color: #78b17e;
  color: #fff;
  cursor: pointer;
}

h1 {
  text-align: center;
  background-color: #edf1d6;
  padding: 20px;
  margin: 0;
}
.back-button {
  margin-top: 20px;
  margin-left: 20px;
}
