.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #edf1d6;
}

.voice-box {
  width: 375px;
  height: 100vh;
  background: #edf1d6;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.back-button {
  margin-top: 20px;
  margin-left: 20px;
}

.Voice-btn {
  height: 80px;
  border: none;
  background-color: #edf1d6;
  margin-bottom: 5px;
}

.Voice-btn.recording {
  /* 녹음 중일 때의 스타일 */
  background-image: url('../../assets/icons/icon-play.png');
  background-repeat: no-repeat;
  background-position: center;
}

.Voice-btn.not-recording {
  /* 녹음 중일 때의 스타일 */
  background-image: url('../../assets/icons/icon-pause.png');
  background-repeat: no-repeat;
  background-position: center;
}

.Play-btn {
  height: 30px;
}

.cross {
  text-align: center;
}
