.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #edf1d6;
}

.voice-box {
  width: 375px;
  height: 100vh;
  background: #edf1d6;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.back-button {
  margin-top: 20px;
  margin-left: 20px;
}

.Voice-btn {
  height: 40px;
  border: none;
  background-color: #edf1d6;
  margin-bottom: 10px;
}
.Play-btn {
  height: 30px;
}

.cross {
  text-align: center;
}
